.score-container {
    border: 2px solid black;
    max-width: 500px;
}

.due-date {
    align-self: flex-end;
}

.col-btn-go {
    width: 100px;
    height: 100px;
    align-self: center;
}

.btn-detail {
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
}

.btn-submit {
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
}